build/*
src/frame_overlap.egg-info
notebooks/.ipynb_checkpoints
tests/__pycache__
notebooks/Cellulose_C6O5H10.ncmat
notebooks/Fe_sg229_Iron-alpha_CrysExtn1.ncmat
notebooks/Fe_sg229_Iron-alpha_CrysExtn1(1).ncmat
notebooks/frame_overlap_analysis*
notebooks/FOBI_code.py
results/*



